<!DOCTYPE html>
<html>
<head>
<title>leave application</title>
</head>
<body>
<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" class="active" href="/role">
        {{#if user.fname}}
            {{user.fname}} {{user.lname}}
        {{else}}
          {{user.local.name}}
        {{/if}}</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/viewleaves">Find Leaves</a></li>
        <li><a href="/applyleave">Apply Leave</a></li>
        <li><a href="/viewpost">New Posts</a></li>
        <!-- <li><a href="/viewtutorials">Tutorials</a></li> -->
        <li class="dropdown">
          <a href="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Tutorials
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/viewtutorials">Node JS</a></li>
            <li><a href="/viewangulartutorials">Angular JS</a></li>
            <!-- <li><a href="javascript:void(0)"></a></li> -->
            <li class="divider"></li>
            <li><a href="">HTML</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:void(0)"></a></li>
        <li class="dropdown">
          <a href="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{#if user.profile.img}}<img src="{{user.profile.img}}" height="25" width="25">{{else}}<span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{/if}}
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/update">Update Profile</a></li>
            <li><a href="/forgotpassword">Forgot Password</a></li>
            <li><a href="/settings">Settings</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
