<html>

<head>
    <title>leave application</title>
    <!-- // <script type="text/javascript">
    //   function validateForm(form) {
    //   }
    // </script> -->
    <script type="text/javascript">
        function checkForm(form) {
            if (form.password.value != "" && form.password.value == form.renew.value) {
                if (form.password.value.length < 6) {
                    alert("Error: Password must contain at least six characters!");
                    form.password.focus();
                    return false;
                }
                if (form.password.value == form.name.value) {
                    alert("Error: Password must be different from Username!");
                    form.password.focus();
                    return false;
                }
                re = /[0-9]/;
                if (!re.test(form.password.value)) {
                    alert("Error: password must contain at least one number (0-9)!");
                    form.password.focus();
                    return false;
                }
                re = /[a-z]/;
                if (!re.test(form.password.value)) {
                    alert("Error: password must contain at least one lowercase letter (a-z)!");
                    form.password.focus();
                    return false;
                }
                re = /[A-Z]/;
                if (!re.test(form.password.value)) {
                    alert("Error: password must contain at least one uppercase letter (A-Z)!");
                    form.password.focus();
                    return false;
                }
                return true
            } else {
                alert("Error: Please check that you've entered and confirmed your password!");
                form.password.focus();
                return false;
            }
        }
    </script>
</head>

<body>
    <div class="col-md-2">
        <div class='row-fluid'>
            <div class='sidebar'>
                <h3 class="menu-heading">Personal settings</h3>
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href='#changename'>Name</a></li>
                    <li><a href='#changeusername'>User Name</a></li>
                    <li><a href='#changepassword'>Password</a></li>
                    <li><a href='#deleteaccount'>Delete Account</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top=30px">
        <div class="row">
            <div class="col-md-8">
                <div class="well bs-component" id="changename">
                    <form action='/changingname' method='post' class="form-horizontal">
                        <fieldset>
                            <legend>Change Name</legend>
                            <input type="hidden" name="id" value="{{user._id}}">
                            <div class="form-group">
                                <label for="fname" class="col-md-2 control-label">First Name</label>
                                <div class="col-md-10">
                                    <input id="fname" name="fname" class="form-control" type="text" value="{{user.fname}}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mname" class="col-md-2 control-label">Middle Name</label>
                                <div class="col-md-10">
                                    <input id="mname" name="mname" class="form-control" type="text" placeholder="optional">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lname" class="col-md-2 control-label">Last Name</label>
                                <div class="col-md-10">
                                    <input id="lname" name="lname" class="form-control" type="text" value="{{user.lname}}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    <button type="submit" class="btn btn-primary">Change</button>
                                    <button type="reset" href="/role" class="btn btn-warning">Cancel</button>
                                </div>
                            </div>
                    </form>
                </div>
                <div class="well bs-component" id="changeusername">
                    <form action="/changeusername" method="post" class="form-horizontal">
                        <fieldset>
                            <legend>Change User Name</legend>
                            <input type="hidden" name="id" value="{{user._id}}">
                            <div class="form-group">
                                <label for="old" class="col-md-2 control-label">Username</label>
                                <div class="col-md-10">
                                    <input id="username" name="username" class="form-control" type="text" value="{{user.local.name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    <button class="btn btn-primary">Change</button>
                                    <a type="reset" href="/role" class="btn btn-warning">Cancel</a>
                                </div>
                            </div>
                    </form>
                </div>
                <div class="well bs-component" id="changepassword">
                    <form action='/changingpassword' method='POST' class="form-horizontal" onsubmit="return checkForm(this);">
                        <fieldset>
                            <legend>Change Password</legend>
                            <input type="hidden" name="id" value="{{user._id}}">
                            <div class="form-group">
                                <label for="old" class="col-md-2 control-label">Current</label>
                                <div class="col-md-10">
                                    <input id="old" name="old" class="form-control" type="text" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new" class="col-md-2 control-label">New</label>
                                <div class="col-md-10">
                                    <input id="new" name="password" class="form-control" type="text" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="renew" class="col-md-2 control-label">Re-type new</label>
                                <div class="col-md-10">
                                    <input id="renew" name="renew" class="form-control" type="text" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    <button type="submit" class="btn btn-primary">Change</button>
                                    <a type="reset" href="/role" class="btn btn-warning">Cancel</a>
                                </div>
                            </div>
                    </form>
                </div>
                <div class="well bs-component" id="deleteaccount">
                    <!-- <form action="/deleteaccount" method="post" class="form-horizontal"> -->
                    <fieldset>
                        <legend style="color:red;">Delete Account</legend>
                        <input type="hidden" name="id" value="{{user._id}}">
                        <div class="form-group">
                            <b><i>Once you delete your account, there is no going back. Please be certain.</i></b>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete Your Account</button>
                            </div>
                        </div>
                        <!-- </form> -->
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Are you sure you want to do this?</h4><hr/>
                </div>
                <div class="modal-body">
                    <div class="alert">
                      <strong><span class="glyphicon glyphicon-alert" aria-hidden="true"></span> This is extremely important.</strong>
                    </div>
                    <div>
                      <p>We will immediately delete your account along with all of your Details.</p>

                      <p>You will no longer be needed, and your username will not be available to anyone on this application.</p>
                    </div>
                    <hr/>
                    <form action='/deleteaccount' method='POST' class="form-horizontal">
                            <legend>Confirm with Username and Password</legend>
                            <input type="hidden" name="id" value="{{user._id}}">
                            <div class="col-md-12">
                            <div class="form-group">
                                <label for="new" class="control-label"><b>Your Username</b></label><br/>
                                    <input id="new" name="username" class="form-control" type="text" required>
                            </div>
                            <div class="form-group">
                                <label for="renew" class="control-label"><b>Confirm Your Password</b></label><br/>
                                    <input id="renew" name="password" class="form-control" type="password" required>
                            </div>
                          </div>
                </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="flash/flash-client.js"></script> 
</body>
<style>
  .alert{
    width: 530px;
    height: 50px;
    color:#9f2d41 ;
    background-color: #ffc6d0;

  }
</style>
</html>
