<head>
	<title>Leave Application</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<style>
		body {
			padding-top: 30px;
			word-wrap: break-word;
		}
	</style>
</head>

<body>
	<div class="container">

		<div class="page animsition">
			<div class="page-header">
				<h1 class="page-title">{{user}}</h1>
				<div class="page-header-actions">
					<ol class="breadcrumb">
						<li><a href="/">Home</a></li>
						<li><a href="/role">Profile</a></li>
						<li><a href="/update">Update Profile</a></li>
						<li><a href="/logout">Logout</a></li>
					</ol>
				</div>
			</div>

			<div class="row">

				{{#each post}}
				{{#unless apply}}
					<div class="well col-sm-5">
						<form action="/applypost" method="post">
							<div class="col-xs-12 col-md-9">
								<input type="hidden" name="id" value="{{_id}}">
								<h5>Company Name:{{companyname}}</h5>
								<h5>Company Website:{{companywebsite}}</h5>
								<h5>Company Email:{{companymail}}</h5>
								<h5>Job Type:{{jobtype}}</h5>
								<h5>Job Category:{{jobcategory}}</h5>
								<h5>Qualification:{{qualification}}</h5>
								<h5>Job location:{{location}}</h5>
								<h5>Address:{{address}}</h5>

								<button type="submit" class="btn btn-primary btn-lg">Apply</button>
								<a type="reset" href="/role" class="btn btn-warning btn-lg">Cancel</a>
							</div>
							<div class="col-xs-6 col-md-3">
									<img class="page-title" src="{{companylogo.img}}" height="100" width="100">
							</div>


						</form>
					</div>

					{{/unless}}
				{{/each}}
			</div>
</body>
